{% use "bootstrap_3_layout.html.twig" %}

{% block translation_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}

    {%- set type = 'text' -%}

    {{ dump(translations) }}
    {{ dump(full_name) }}
    {% for locale in locales %}
        <button type="button">{{ locale }}</button>
    {% endfor %}
    <ul>
    {% for locale in locales %}
        {% set value = translations[locale]['name'] is defined ? translations[locale]['name'] : value %}
        <li style="display: flex;">
            <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        </li>
    {% endfor %}
    </ul>

    {#<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>#}
{%- endblock translation_widget %}